<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cargar Juego</title>
  </head>
  <body>

    <nav>
        <a href={% url "inicio" %}><b>Inicio</b></a>
        <a href={% url "cargar_juego" %}><b>Cargar Videojuego</b></a>
        <a href={% url "listado_de_juegos" %}><b>Listado de Videojuegos</b></a>
    </nav>

    <h1>Carga tu Videojuego!</h1>

    <form action="" method="POST">
      {% csrf_token %} 
      
      {{formulario}}

      <input type="submit" value="Crear" />
    </form>
  </body>
</html>
