<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Juegos</title>
  </head>
  <body>
    
    <nav>
        <a href={% url "inicio" %}><b>Inicio</b></a>
        <a href={% url "cargar_juego" %}><b>Cargar Videojuego</b></a>
        <a href={% url "listado_de_juegos" %}><b>Listado de Videojuegos</b></a>
    </nav>

    <h1>Lista de Videojuegos</h1>

    {% if juegos %}
        
        {% for juego in juegos %}
        <ul>
            <p><b>Nombre:</b> {{juego.nombre}} </p>
            <p><b>Desarrollador:</b> {{juego.desarrollador}} </p>
            <p><b>Categoria:</b> {{juego.categoria}} </p>
            <p><b>Fecha de Lanzamiento:</b> {{juego.fecha_lanzamiento}} </p>
        </ul>
        <hr>
        {% endfor %}
    
    {% else %}
        <p>No hay ningun juego cargado...</p>
    {% endif %}
    
  </body>
</html>
