{% extends "base.html" %}
{% block texto_h1 %} Lista de Videojuegos {% endblock texto_h1 %}

{% block contenido %}

    <form action="" method="GET"> 
      
        <h2>Buscar Videojuego</h2>
        <p><b>Buscalo por nombre, desarrollador o categoria!</b></p>

      {{formulario.as_p}}

      <input type="submit" value="Buscar" />
    </form>

    <br>
    <hr>

{% if juegos %}
        
    {% for juego in juegos %}
        <ul>
            <p><b>Nombre:</b> {{juego.nombre}} </p>
            <p><b>Desarrollador:</b> {{juego.desarrollador}} </p>
            <p><b>Categoria:</b> {{juego.categoria}} </p>
            <p><a href={% url "detalle_juego" juego.id %}>Detalles</a> | <a href={% url "actualizar_juego" juego.id %}>Actualizar</a> | <a href={% url "borrar_juego" juego.id %}>Borrar</a></p>
        </ul>
        <hr>
        {% endfor %}
    
    {% else %}
        <p>No hay ningun juego cargado...</p>
    {% endif %}

{% endblock contenido %}

    